*{
	margin: 0px;
	padding: 0px;
}

nav{
	background-color: #007BB6;	
}



nav>ul>li{
	box-sizing: border-box;
	display:inline-block;
	float:left;	
	list-style-type: none;
	width:20%;
	margin-top: 2%;
	border-bottom: 4px solid #007BB6;
	padding-left:5%;
}

nav>ul>li>a{
	display: inline-block;
	width: 100%;
	padding-bottom: 2%;
}

li:hover{
	border-bottom: 4px solid white;
}

img{
	width:36px;
}