*{
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;


}

body{
	background-color: #f5f5f5 ;
}

#main_div{
	margin: 0% 5% 0% 5%;
}

.jumbo{
	margin-top:10%;
}

nav{
	background-color: #0077b5;
}

nav>ul>li{
	box-sizing: border-box;
	display:inline-block;
	float:left;	
	list-style-type: none;
	width:20%;
	margin-top: 3%;
	border-bottom: 4px solid #007BB6;
	padding-left:5%;
}

nav>ul>li>a{
	display: inline-block;
	width: 100%;
	padding-bottom: 2%;
}

li:hover{
	border-bottom: 4px solid white;
}

.nav_image{
	width:60%;
}

.image_heading{
	text-align: center;
}

.image_profile{
	width:30%; 
	margin: -12% 5% 3% 35%; 
}

#personal{
	position: relative;
	background-color: white;
	margin-top: -4%;
}

#name,#college_name,#stream{
	text-align: center;
}
#stream{
	font-size:0.9em;
}
#college_name{
	font-size: 0.8em;
}


.connections{
	width: 8%;
}

.connections_number{
	font-size: 0.7em;
}


#edu_header,.certi_head{
	font-variant: small-caps;
	margin: 0% 0% 2% 5%;
	padding-top: 4%;
	color: #0077b5;
}

.edu{
	font-size: 0.9em;
	margin-top: 1.5%;
}
#certifications,#education{
	margin-top: 3%;
	background-color: white;

}

.lpu,.school,.narayana{
	width: 14%;
	margin: -15% 0% 0% 5%;
	display: inline-block;
}

.edu_block{
	margin: 2% 0% 3% 7%;
	display: inline-block;
}

.edu_main,.cer_main{
	font-size: 0.9em;
}
.edu_sub,.cer_sub{
	font-size: 0.8em;
}
.cer_sub_block{
	margin-top: 1%;
}

.cer_image{
	width:10%;
}

.btn{
	opacity: 0.8;
	border:1px solid #007BB6;
	margin-left: 15%;
	padding-left: 2%;
	width: 50%;
	font-size: 0.9em;
}

.certi_heading{
	color:#007bb6;
	text-align: center;
	font-size: 14px;
	font-variant: small-caps;
}
.cer_sub{
	margin-top:2%;
}
.certi_right_content{
	display: inline-block;
	width:60%;
	font-size: 14px;

}
.certi_left_image{
	display: inline-block;
	width:30%;
	margin: 1% 5% 1% 5%;
	float: left;
}

